* {
    padding: 0px;
    margin: 0px;

}

html {
    font-size: 62.5%
}


.container {
   
   
}


header {
    display: flex;
    justify-content: space-between;
}


//cards


.containerCards {
    display: flex;
    justify-content: space-between;
    

    
}



.carousel-item {
    width: 90%;

}

.card {
    &-body {
        box-shadow: $shadowtext;
    }

    &-img-top {
        margin-top: 25px;
        height: 20rem;

    }
}

//promociones de ofertas

.containerboxes {

    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    



    .photo-proms {
        height: 500px; 
        box-shadow: $shadowtext;      
    }

    h2 {
        font-family: $mainFont;
        margin-top: 20px;
        margin-top: 25px;
        padding-top: 25px;

    }

    p {
        font-family: $mainFont;
        font-size: $textXxL;
        background-color: $grey;
    }

}



//botones 

.btn {
    &-primary {
        color: $secundarycolor;
        background-color: $maincolor;
        border-radius: 20px;

    }

    &-secundary {
        color: $secundarycolor;
        background-color: $black;
        border-radius: 20px;

    }
}



.promosmes {

    display: flex;
    background-color: $grey;

}

#logo img {
    width: 10rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

#whatsapp img {
    position: fixed;
    width: 10rem;
    bottom: 20px;
    right: 20px;
}

footer {
    margin-top: 50px;
    background-color: $black;
    background-size: 700px;

    h4 {
        color: $white;
        font-size: medium;
    }
}