@media (max-width:500px) {
    .logo {
        width: 8rem;
    }

    #buscador {
        height: 1.5rem;
        width: 16rem;
        font-size: $textMd;
    }

    .botonesarriba {
        height: 40px;
        margin: 15px;

    }



    .nav-item {
        font-size: 0.3rem;

    }

    .containerCards {
        display: grid;

        grid-template-areas:
            "card card"
            "card card";

        margin: 25px;
    }

    #whatsapp {
        img {
            width: 8rem;
        }


    }

}

.maplocation {
    height: 200px;
    width: 200px;
    margin: 15px;
}


//404 error

.container-404 {
    .texto-404 {
        text-align: center;
        font-size: 2em;
        margin: 35px;

    }

    .img-404 {
        height: 300px;
    }
}