
@media (max-width:500px) {
    .logo {
        width: 12rem;
    }

    //no funciona
    .nav-item {
        font-size: 0.3rem;

    }

    .containerCards {
        display: grid;

        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6";
    }
}