.logo {
    width: 15rem;
    margin: 2rem;

}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &arriba {
        height: 70px;
        margin: 15px;

    }


}

#buscador {
    height: 35px;
    margin: 15px;
    margin-top: 45px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;

}

.nav {

    position: relative;
    z-index: 10000;
    display: flex;
    flex-wrap: wrap;
    border-color: $secundarycolor;





    &estilos {
        position: relative;
        z-index: 10000;
        background-color: $maincolor;
        height: auto;
        display: block;
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
        background-image: linear-gradient(to left, $maincolor, $black);



    }

    &item {
        text-shadow: $shadowtext;
        color: $white !important;
        margin: 0.5rem;
        font-size: 20px;
        text-transform: uppercase !important;
        justify-content: flex-end;
        margin-right: 1rem;

        &:hover {
            color: $secundarycolor;
            background-color: $black;
            border-radius: 2rem;

        }

    }

    &-item {
        font-size: 0.3rem;

    }


    a {
        text-decoration: none;
        color: $white;
    }




    .item {
        color: $white;
        font-family: $mainFont;
        font-size: 30px;
        text-transform: uppercase;
        margin: 10px;
        font-weight: bold;

        /* me falta borde negro a la fuente /*/

    }
}