//variables

//esquema de colores
$maincolor:#da071e;
$secundarycolor:lightskyblue;
$black:black;
$white:antiquewhite;
$grey:#b8b8b8;


//tipografias
$mainFont:'Roboto', sans-serif;


//fonts
$shadowtext:black 0.1rem 0.1rem;


//sizes textos
$textSm:0.8em;
$textMd:1em;
$textXl:2em;
$textXxL:3em;

//pading y margin texts




//fontweight
$fontLight:300;
$fontRegular:400;
$fontBold:600;

//sizes boxes
$width:100vw;
$height:100vh;